mat-form-field,
textarea {
  width: 100%;
}

mat-card {
  background-color: #eee;
}
h2 {
  margin: 0;
  padding: 3rem;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

button[type="submit"] {
  background-color: #2a9d8f;
  color: white;
}
