:host {
  display: block;
}

@media (min-width: 300px) {
  body {
    margin: 0 auto;
    width: 90%;
    /* margin-bottom: 1rem; */
    background-color: #e9c56a1f;
    padding-bottom: 1rem;
  }

  .info-text {
    text-align: center;
  }

  mat-spinner {
    margin: auto;
  }
  mat-expansion-panel {
    background-color: #eee;
  }
  mat-expansion-panel p {
    font-size: 0.8rem !important;
  }
  mat-expansion-panel-header {
    background-color: #2a9d90cb;
    font-size: 1rem !important;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  mat-expansion-panel-header {
    color: #264653;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  mat-paginator {
    margin-top: 1rem;
    background-color: #f4a261;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    box-sizing: border-box;
    font-size: 0.6rem !important;
  }

  .post-image {
    width: 60% !important;
  }

  .post-image img {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
  }
  .head {
    margin: 0 auto;
    text-align: center;
  }
  .head h2 {
    color: #264653;
    text-shadow: 1px 1px 1px #83a09db6;

    margin: 0;
    padding-top: 1rem;
    font-weight: bold;
  }
  .head p {
    color: #264653;
    margin: 0;
    padding-top: 3rem;
    font-size: 1rem !important;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #83a09db6;
  }
  .goBtn {
    color: #264653;
    text-shadow: 1px 1px 1px #83a09db6;
    margin-top: 3rem;
    width: 60%;
    height: 3rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px black;
    font-size: 1rem;
    background-color: #e76f51;
  }
  .showBtn {
    margin-left: 1rem;
    background-color: #ddd;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 470px) {
  body {
    margin: 0 auto;
    width: 70%;
    /* margin-bottom: 1rem; */
    background-color: #e9c56a1f;
    padding-bottom: 1rem;
  }

  .info-text {
    text-align: center;
  }

  mat-spinner {
    margin: auto;
  }
  mat-expansion-panel {
    background-color: #eee;
  }
  mat-expansion-panel p {
    font-size: 1rem;
  }
  mat-expansion-panel-header {
    background-color: #2a9d90cb;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  mat-expansion-panel-header {
    color: #264653;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  mat-paginator {
    margin-top: 1rem;
    background-color: #f4a261;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.7px;
  }

  .post-image {
    width: 40% !important;
  }

  .post-image img {
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.74);
  }
  .head {
    margin: 0 auto;
    text-align: center;
  }
  .head h2 {
    color: #264653;
    text-shadow: 1px 1px 1px #83a09db6;

    margin: 0;
    padding-top: 4rem;
    font-weight: bold;
  }
  .head p {
    color: #264653;
    margin: 0;
    padding-top: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #83a09db6;
  }
  .goBtn {
    color: #264653;
    text-shadow: 1px 1px 1px #83a09db6;
    margin-top: 3rem;
    width: 60%;
    height: 3rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px black;
    font-size: 2rem;
    background-color: #e76f51;
  }
  .showBtn {
    margin-left: 1rem;
    background-color: #ddd;
  }
}
